[submodule "gchessboard"]
	path = gchessboard
	url = https://github.com/alexanderortizcuellar/gchessboard
[submodule "scid-mgr"]
	path = scid-mgr
	url = https://github.com/alexanderortizcuellar/scid-mgr
